
<div class="seller-auth">
    <div *ngIf="!showLogin"  class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form action="" #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)"  class="common-form">

            <input class="form-input" type="text" ngModel name="name" placeholder="Enter Name">
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password">
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email">
            <button class="form-button">Sign-Up</button>
            <a class="auth-toggle-link"  (click)="openLogin()">Already Have Account? Click to Login</a>
            
        </form>
    </div>




    <div *ngIf="showLogin"  class="Login">
        <h1>Seller Login</h1>
        <p>{{authError}}</p>
        
        <form action="" #sellerSignUp="ngForm" (ngSubmit)="login(sellerSignUp.value)"  class="common-form">
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email">
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password">
            <button class="form-button">Login</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Don't Have Account? Click to Sign-Up</a>
            
        </form>
    </div>
</div>